__pycache__/
weights/
data/msrvtt
ckpts/
visulaizer/
scripts/
dataloaders/__pycache__/
modules/__pycache__/
modules/ViT-B-16.pt
modules/ViT-B-32.pt
modules/RN50x16.pt
main_task_visual_retrieval.py
main_task_audio_retrieval.py
./.gitignore



